html, body {
    font-family: 'Public Sans';
    max-width: 100%;
    overflow-x: hidden;
}

div {
    font-family: 'Public Sans';
    position: relative;
    display: block;
    top: 300px; 
    padding: 30px 0px 30px;
    margin: auto;
    width: 30%;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.70);
    transition: transform .4s;
}

div:hover {
    transform: scale(1.03);
    border: 2px solid rgb(218, 205, 205);
}

button {
    color: black;
    margin-top: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
}

button:hover {
    transition: color .4s;
    color: #ff3131;
    border-color: #ff3131;
}