p {
    color: #ff3131;
    font-size: 7.29vh;
    font-weight: bold;
    display: inline;
}

h3 {
    color: darkgrey;
    font-weight: bold;
}

.center {
    position: relative;
    background-color: rgba(255, 255, 255, 0.70);
    top: 16.67vh;
    padding-top: 1.67vh;
    padding-bottom: 2.5vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    margin: auto;
    width: 75%;
    text-align: center;
    border-radius: 20px;
    transition: transform .4s;
}

.center:hover {
    transform: scale(1.03);
}

.center-center {
    width: 60%;
    display: block;
    position: relative;
    padding-top: 1vh;
    padding-bottom: 2.5vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    margin: auto;
}

.url-utility {
    padding-bottom: 1.67vh;
    color: darkgray;
    margin-top: 1.33vh;
    border: 0.33vh solid transparent;
    text-align: center;
    text-decoration: none;
}

.url-utility:hover {
    transition: color .4s;
    color: #ff3131;
}
