button {
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 1.5vh 4.5vh;
    margin: 4vh 108.5vh;
    text-decoration: none;
}

button:hover, select:hover, input:hover {
    transition: color .4s;
    color: #ff3131;
    border-color: #ff3131;
} 

.container {
    display: flex;
    justify-content: center;
    margin-top: 9.38vh;
}

.div-tips {
    padding: 1vh 2.5vh;
    margin-right: 1vh;
    text-align: center;
    border-radius: 20px;
    transition: transform .4s;
}

.div-tips:hover {
    transform: scale(1.03);
}

.input-tips {
    font-size: 1.75vh;
    width: 25vh;
    height: 45vh;
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
    border: 2px solid darkgrey;
    outline: none;
}

.div-textbox {
    padding: 1vh 2.5vh;
    align-items: center;
    border-radius: 20px;
    transition: transform .4s;
}

.input-textbox {
    font-size: 1.75vh;
    width: 35vh;
    height: 45vh;
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
    border: 2px solid darkgrey;
    outline: none;
}

.input-tips:hover, .input-textbox:hover {
    border: 2px solid #ff3131;
}