html, body {
    font-family: 'Public Sans';
    height: 100%;
}

label {
    display: relative;
    float: left;
}

label:hover {
    color: #ff3131;
}

input {
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
}

input:hover {
    border:2px solid #ff3131;
}

h3 {
    color: darkgrey;
    font-weight: bold;
}

span {
    color: #ff3131;
}

.navbar {
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zoom-on-img {
    transition: transform .4s;
}

.zoom-on-img:hover {
    transform: scale(1.099);
}

.undo {
    float: left;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dropdown {
    float: right;
    margin-top: 18px;
    margin-right: 45px;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: darkgray;
    background-color: inherit;
    margin: 0;
    margin-bottom: 10px;
}

.dropbtn:hover {
    transition: color .4s;
    color: #ff3131;
}

.dropdown-content {
    float: left;
    position: absolute;
    display: none;
    background-color: white;
    min-width: 90px;
    z-index: 1;
}

.dropdown-content a {
    float: left;
    font-size: 13px;
    color: darkgray;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    transition: color .4s;
    background-color: rgba(195, 195, 195, 0.70);
    color: #ff3131;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.center {
    position: relative;
    display: block;
    top: 225px; 
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    width: 30%; 
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.70);
    transition: transform .4s;
}

.center:hover {
    transform: scale(1.03);
}

.input {
    font-size: 12px;
    width: 100%;
    padding: 3px 3px;
    margin: 1px 0;
    border-bottom: 1px solid darkgrey;
    border-radius: 0px;
    outline: none;
}

.button-Accedi {
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
}

.button-Accedi:hover {
    transition: color .4s;
    color: #ff3131;
    border-color: #ff3131;
}