html, body {
    font-family: 'Public Sans';
    max-width: 100%;
    overflow-x: hidden;
}

button:hover {
    transition: color .4s;
    color: #ff3131;
    border-color: #ff3131;
}

.navbar {
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-button {
    color: black;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 1050px;
    padding: 14px 32px;
}

.zoom-on-img {
    margin-top: 20px;
    margin-left: 15px;
    transition: transform .4s;
}

.zoom-on-img:hover {
    transform: scale(1.099);
}

.undo {
    float: right;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.div-th {
    margin: 90px 180px 35px;
}

.table-head {
    table-layout: fixed;
    width: 50%;
}

.div-td {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 30px 150px;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px;
    align-items: center;
}

.table-list {
    table-layout: fixed;
    width: 100%;
}

.table-button {
    float: right;
    display: block;
    color: black;
    background-color: white;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px;
    text-align: center;
    padding: 8px 24px;
    text-decoration: none;
}