html, body {
    height: 100%;
    font-family: 'Public Sans';
}
    
label {
    display: relative;
    float: left;
}
    
label:hover {
    color: #ff3131;
}

button {
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
}

button:hover {
    transition: color .4s;
    color: #ff3131;
    border-color: #ff3131;
}

span {
    color: #ff3131;
}

.navbar {
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zoom-on-img {
    transition: transform .4s;
}

.zoom-on-img:hover {
    transform: scale(1.099);
}

.undo {
    float: left;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button-Login {
    margin-top: 10px;
    margin-right: 15px;
}

.center {
    position: relative;
    display: block;
    top: 115px; 
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    width: 30%;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.70);
    transition: transform .4s;
}

.center:hover {
    transform: scale(1.03);
}

.input-Required {
    font-size: 12px;
    width: 100%;
    padding: 3px 3px;
    margin: 1px 0;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0px;
    border-bottom: 1px solid darkgrey;
    outline: none;
}

.non-Required {
    font-size: 12px;
    width: 100%;
    padding: 3px 3px;
    margin: 1px 0;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0px;
    border-bottom: 1px solid darkgrey;
    outline: none;
}

.input-Required:hover {
    border:2px solid #ff3131;
}

.non-Required:hover {
    border-bottom: 2px solid #ff3131;
}