.div-question {
    float: left;
    padding: 3vh 3vh;
    width: 30vh;
    height: 17.5vh;
    margin: 10vh;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px;
}

.div-question table {
    width: 100%;
}

.div-question th {
    text-align: left;
}

.drop-btn {
    float: right;
    margin-top: 5.75vh;
    background-color: white;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px;
    text-align: center;
    padding: 0.8vh;
    text-decoration: none;
}

th:hover, td:hover, .drop-btn:hover {
    transition: color .4s;
    color: #ff3131;
    border-color: #ff3131;
}