button {
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 2vh 5vh;
    margin: 10vh 0vh 10vh;
    text-decoration: none;
}

button:hover, input:hover {
    transition: color .4s;
    color: #ff3131;
    border-color: #ff3131;
}

input {
    display: inline-block;
    width: 2.08vh;
    height: 2.08vh;
    color: black;
    background-color: white;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 2.5rem;
}

.div-checkbox {
    display: flex;
    align-items: center;
    float: left;
    width: 35vh;
    height: 10vh;
    margin-top: 2rem;
    margin-left: 2rem;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px;
}

.div-checkbox input {
    margin-left: 1.5rem;
    margin-right: 1rem; 
}

.div-checkbox-composition input {
    margin-left: 2.78vh;
    margin-right: 2.08vh; 
}

.div-checkbox:hover, .div-checkbox-composition:hover {
    transition: border-color .4s; 
    border-color: #ff3131;
}

.div-button {
    float: right;
    margin-top: 2rem;
    margin-right: 9vh;
}