html, body {
    font-family: 'Public Sans';
    max-width: 100%;
    height: 100vh;
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.zoom-on-img {
    margin-top: 2.17vh;
    margin-left: 3.25vh;
    transition: transform .4s;
}

.zoom-on-img:hover {
    transform: scale(1.099);
}

.dropdown {
    float: right;
    margin-top: 3.5vh;
    margin-left: 135.5vh;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    font-size: 14px;
    color: darkgray;
    background-color: inherit;
    margin: 0;
    margin-bottom: 1.5vh;
}

.dropbtn:hover {
    transition: color .4s;
    color: #ff3131;
}

.dropdown-content {
    float: left;
    position: absolute;
    display: none;
    background-color: white;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    font-size: 14px;
    color: darkgray;
    padding: 1.5vh 1vh;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    transition: color .4s;
    background-color: rgba(195, 195, 195, 0.70);
    color: #ff3131;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.undo {
    float: right;
    margin-top: 2.17vh;
    margin-right: 3.25vh;
}