.center {
    margin-top: 5vh;
}

.div-question {
    display: inline-block;
    margin: 5vh 5.5%; 
    padding: 3vh 3vh;
    width: 35%;
    height: 22.5%;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px;
}


.div-question table {
    width: 100%;
}

.div-question th {
    text-align: left;
}

.drop-btn {
    display: block;
    float: right;
    margin-top: 5vh;
    margin-right: 0vh;
    background-color: white;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px;
    text-align: center;
    padding: 0.8vh;
    text-decoration: none;
}

th:hover, .drop-btn:hover {
    transition: color .4s;
    color: #ff3131;
    border-color: #ff3131;
}