h2 {
    text-align: left;
    text-decoration: underline;
    text-align: center;
}

table {
    width: auto;
    margin: auto;
    border-collapse: collapse;
    font-size: 12px;
}

table, th, td {  
    border: 1.25px solid black;
    text-align: left;
}
  
th, td {
    padding: 5px;
    font: bold;
}

h2:hover, th:hover, td:hover {
    transition: color .4s;
    color: #ff3131;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.div-statistic {
    display: inline-block;
    align-items: center;
    width: 50%;
    height: 100vh;
}

.single-div {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    padding: 1rem 1rem;
    width: 100%;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px;
}

.single-div:hover {
    border: 2px solid #ff3131;
}